.idea
node_modules
~ci.list.txt
~ci.log.txt
~ci.errors.txt
*.stackdump
*.bak
*.old
package-lock.json
test/**/*.js
test/**/*.d.ts
test/*.js
test/*.d.ts
test/temp*
test/**/*.map
tests/**/*.js
tests/**/*.d.ts
tests/*.js
tests/*.d.ts
tests/temp*
tests/**/*.map
bin/*.d.ts
bin/**/*.d.ts
/packages/*/bin/*.d.ts
/packages/*/test/**/*.js
/packages/*/test/**/*.d.ts
/packages/*/test/*.js
/packages/*/test/*.d.ts
/packages/*/test/temp*
/packages/*/tests/**/*.js
/packages/*/tests/**/*.d.ts
/packages/*/tests/*.js
/packages/*/tests/*.d.ts
/packages/*/tests/temp*
**/node_modules
*.tgz
/tsconfig.json.tpl
/.eslintrc.json.tpl
!tsconfig.json
!.eslintrc.json
yarn-error.log
*.log
.git
yarn.lock
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.vue.js
*.vue.d.ts
*.vue.js.map
vue.config.d.ts
vue.config.js.map
.nyc_output
coverage
/*.tpl
!.forestry
!.vuepress
!.github
!.gitee
!.gitlab
.git


# Project exclude paths
/packages/reflect-metadata-util/index.d.ts
/packages/reflect-metadata-util/index.js
/packages/restful-decorator/lib/decorators/config/index.d.ts
/packages/restful-decorator/lib/decorators/config/index.js
/packages/restful-decorator/lib/decorators/build.d.ts
/packages/restful-decorator/lib/decorators/build.js
/packages/restful-decorator/lib/decorators/headers.d.ts
/packages/restful-decorator/lib/decorators/headers.js
/packages/restful-decorator/lib/decorators/http.d.ts
/packages/restful-decorator/lib/decorators/http.js
/packages/restful-decorator/lib/decorators/method.d.ts
/packages/restful-decorator/lib/decorators/method.js
/packages/restful-decorator/lib/helper/subobject.js
/packages/restful-decorator/lib/types/axios.d.ts
/packages/restful-decorator/lib/types/axios.js
/packages/restful-decorator/lib/util/config.d.ts
/packages/restful-decorator/lib/util/config.js
/packages/restful-decorator/lib/util/merge.d.ts
/packages/restful-decorator/lib/util/merge.js
/packages/restful-decorator/lib/util/rfc6570.d.ts
/packages/restful-decorator/lib/util/rfc6570.js
/packages/restful-decorator/lib/wrap/decorators/build.d.ts
/packages/restful-decorator/lib/wrap/decorators/build.js
/packages/restful-decorator/lib/wrap/abstract.d.ts
/packages/restful-decorator/lib/wrap/abstract.js
/packages/restful-decorator/lib/decorators.d.ts
/packages/restful-decorator/lib/decorators.js
/packages/restful-decorator/lib/index.d.ts
/packages/restful-decorator/lib/index.js
/packages/router-uri/index.d.ts
/packages/router-uri/index.js